@import '../Home.scss';
#main-navbar {
  background:#fff;
  padding: 0;
  width:100%;
  transition:all .3s ease-in-out;
  .navbar-toggler {
    color: rgb(88, 164, 67);
    border-color: rgb(89, 164, 69);
    margin-left: 10px;
}
  .navbar-nav{
    align-content: center;
    text-align: center;
    .nav-link {
      color: #252a34;
      font-size:15px;
      font-weight:700;
      font-family: 'Changa' !important;
    }
  }
}
.fixed-top{
  box-shadow:2px 0px 10px #CCC;
  .navbar-brand{
    padding:0;
  }
}
@media (min-width:768px) {
  .navigation-clean-button {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

  
  


  
  